---
layout: page
title: "tag"
date: 2015-02-01 02:00
---

<div class="tags">
{% for tag in site.tags %}
<span class="tags-span">{{ tag | first }}<i>&nbsp;&nbsp;({{ tag | last | size }})</i></span>
{% endfor %}
</div>

{% for tag in site.tags %}

<h5>{{ tag | first }}&nbsp;&nbsp;&nbsp;&nbsp;(共{{ tag | last | size }}篇文章)</h5>

<ul>

    {% for post in tag.last %}

        <li>{{ post.date | date:"%Y/%m/%d"}}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></li>

    {% endfor %}

</ul>

{% endfor %}
