
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.main{
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 0;
  padding: 20px;
}

.site {
  text-align: justify;
  width: 42em;
  margin: 1em auto 1em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  
}

.title a:hover {
  
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
.post{
  padding-top: 20px;
  border-top: 1px solid #efefef;
}
/* standard */
code {background:#eee;color:#C7254E;border:1px solid #ccc;border-radius:.25em;padding:4px 5px;font-family:Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;line-height:14px;font-size:14px;word-wrap:break-word; }
pre {background:#474949;padding:15px;overflow:auto;margin-bottom:10px;margin-top:10px;color:#D1D9E1;max-height: 600px;line-height: normal;font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:14px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;}
h4+pre, h3+pre { margin-top:20px; }

pre ::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
pre ::selection { background:#FF5E99; color:#fff; text-shadow: none; }

pre code{color:#F8F8F2;background-color:transparent;border:none;padding:0;word-wrap:normal;white-space:pre-wrap;word-break:break-all;word-wrap: break-word;font-family:inherit;}
pre ol{margin-left:35px;list-style-type:decimal;}

pre code span.lineno {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -o-user-select: none;
    user-select: none;

    content: counter(lines); text-align: right;
    display: inline-block; width: auto;
    padding-right: 0.5em; margin-right: 0.5em;
    color: #BBB; border-right: solid 1px;
}


.post ul, .post ol {
  margin-left: 1.35em;
}


/* page */
.arc-list{list-style-type: none;}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/***********tags**********/
.tags-span{background:#474949; border-radius:5px; color:#fff; padding:5px; margin:5px; display:inline-block; text-align:center; }
.tags-span i{display:inline-block; font-style:normal;}