---
layout: default
---
<div class="main">
	<h2>{{ page.title }}</h2>
	<p class="meta">{{ page.date | date:"%Y-%m-%d" }}</p>

	<div class="post">
	{{ content }}
	</div>
    <script id="dsq-count-scr" src="//liuyidi.disqus.com/count.js" async></script>
    <div id="disqus_thread">评论</div>
    <script>
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//liuyidi.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>